<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- Permissões necessárias -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

  <application>

    <!-- Serviço de Overlay -->
    <service
      android:name="expo.modules.kmcertonative.KmCertoOverlayService"
      android:exported="false"
      android:foregroundServiceType="specialUse">
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="overlay" />
    </service>

    <!-- Serviço de Acessibilidade -->
    <service
      android:name="expo.modules.kmcertonative.KmCertoAccessibilityService"
      android:exported="true"
      android:label="KmCerto"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/kmcerto_accessibility_service_config" />
    </service>

  </application>

</manifest>
